.sidebar {
    background-color: white;
    height: 100%;
    width: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    padding-top: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: black;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.nav a:hover {
    background-color: #ddd;
}

.nav a.active {
    background-color: #2196F3;
    color: white;
}